
:focus
{
  -moz-outline-style  :  none;
}

html
{

}

body
{
  margin     :  0px;
  min-width  :  1240px;
}

body.cke_show_borders
{
  background  :  #ffffff;
}

header, footer, main, nav, section
{
  display  :  block;
}

table
{
  border-collapse  :  collapse;
  border-spacing   :  0;
  table-layout     :  fixed;
}

body, p, div, td, span, a
{
  font-family  :  verdana, arial, sans-serif;
  font-size    :  12px;
  color        :  #444444;
  
  position     :  relative;
  outline      :  none;  
  
  line-height  :  18px;
}

h1, h1 a, h1 a:hover
{
  font-family      :  Oswald, georgia, verdana, arial;  
  font-weight      :  normal;
  font-size        :  24px;
  color            :  #155278;
  
  text-decoration  :  none;
  
  margin           :  0px 0px 10px 0px;
  padding          :  0px;
}

h1 a:hover
{
  color  :  #000000;
}

h1.line
{
  margin      :  0px 0px 20px 0px;
  background  :  #eeeeee;
  text-align  :  center;
}

h1.line span
{
  font-family     :  Oswald, georgia, verdana, arial;  
  font-weight     :  normal;
  font-size       :  21px;
  color           :  #222222;
  
  text-transform  :  uppercase;
  
  background      :  #ffffff;
  padding         :  0px 20px 0px 20px;
}


h2, h2 a, h2 a:hover
{
  font-family      :  Oswald, georgia, verdana, arial;  
  font-weight      :  normal;
  font-size        :  18px;
  color            :  #333333;
  
  text-decoration  :  none;
  
  margin           :  0px 0px 2px 0px;
  padding          :  0px;
}

h3
{
  font-family    :  Oswald, georgia, verdana, arial;  
  font-weight    :  normal;
  font-size      :  19px;
  color          :  #666666;
  
  margin         :  0px 0px 10px 0px;
  padding        :  0px 0px 4px 0px;
  border-bottom  :  dotted 1px #dddddd;
}


h4
{
  font-family     :  Oswald, georgia, verdana, arial;  
  font-weight     :  normal;
  font-size       :  17px;
  color           :  #333333;

  text-transform  :  uppercase;
  
  margin          :  0px 0px 5px 0px;
  padding         :  0px;
}

h4.small
{
  font-size  :  16px;
}

h5
{
  font-family     :  Oswald, georgia, verdana, arial;  
  font-weight     :  normal;
  font-size       :  15px;
  color           :  #155278;

  text-transform  :  uppercase;
  
  margin          :  0px 0px 5px 0px;
  padding         :  0px;
}


a, a:hover
{
  font-family         :  verdana, arial, sans-serif;
  font-size           :  12px;
  color               :  #1d70a3;
  
  text-decoration     :  none;
  
  -webkit-transition  :  all linear .2s;
  -moz-transition     :  all linear .2s;
  -ms-transition      :  all linear .2s;
  -o-transition       :  all linear .2s;
  transition          :  all linear .2s;
}

a:hover
{
  color            :  #000000;
  text-decoration  :  underline;
}

p
{
  margin   :  0px;
  padding  :  0px 0px 15px 0px;
}


div.br
{
  clear        :  both;
  line-height  :  0px;
  height       :  0px;
  font-size    :  0px;
}

div.br5
{
  clear        :  both;
  line-height  :  5px;
  height       :  5px;
  font-size    :  1px;
}

div.br10
{
  clear        :  both;
  line-height  :  10px;
  height       :  10px;
  font-size    :  1px;
}

div.hr
{
  border-top     :  dotted 1px #cccccc;
  border-right   :  solid 1px #ffffff;
  border-bottom  :  solid 1px #ffffff;
  border-left    :  solid 1px #ffffff;
  margin         :  15px 0px 15px 0px;
}

hr
{
  border-top     :  dotted 1px #999999;
  border-right   :  solid 1px #f4f4f4;
  border-bottom  :  solid 1px #f4f4f4;
  border-left    :  solid 1px #f4f4f4;
  margin         :  20px 0px 20px 0px;
}

.faq
{
  cursor  :  pointer;
}

a img
{
  border  :  none;
}

.noMargin
{
  margin  :  0px !important;
}

.noPadding
{
  padding  :  0px !important;
}

.fRight
{
  float  :  right;
}

.fLeft
{
  float  :  left;
}

.hidden
{
  display  :  none;
}



form
{
  margin  :  0px;
}

label
{
  margin   :  0px;
  padding  :  0px;
}

label span
{
  font-size  :  10px;
  color      :  #bbbbbb;
}

input.textbox, select, div.dataTables_wrapper input, textarea
{
  font-family            :  verdana, arial, sans-serif;
  font-size              :  13px;
  color                  :  #888888;
   
  padding                :  6px;
  border                 :  solid 1px #888888;
  background             :  #f9f9f9;

  -webkit-transition     :  border linear .2s,box-shadow linear .2s;
  -moz-transition        :  border linear .2s,box-shadow linear .2s;
  -ms-transition         :  border linear .2s,box-shadow linear .2s;
  -o-transition          :  border linear .2s,box-shadow linear .2s;
  transition             :  border linear .2s,box-shadow linear .2s;
  
  -moz-border-radius     :  3px;
  border-radius          :  3px;
  -webkit-border-radius  :  3px;   
}

select
{
  padding  :  2px;
}

input.textbox:focus, select:focus, textarea:focus
{
  outline       :  none;
  color         :  #222222;
  background    :  #ffffec;  
  border-color  :  rgba(50, 50, 50, 0.8);
}

input.button, input.button:hover, input.button:active
{
  font-family            :  Oswald, verdana, arial, sans-serif;
  font-size              :  16px;
  color                  :  #ffffff;
  
  text-transform         :  uppercase;
   
  padding                :  6px 20px 6px 20px;
  cursor                 :  pointer;
  border                 :  none;
  background             :  #1d70a3;
  
  -moz-border-radius     :  6px;
  border-radius          :  6px;
  -webkit-border-radius  :  6px;  
  
  -webkit-transition     :  all linear .2s;
  -moz-transition        :  all linear .2s;
  -ms-transition         :  all linear .2s;
  -o-transition          :  all linear .2s;
  transition             :  all linear .2s;      
}

input.button:hover, input.button:active
{
  background  :  #155278;
}


.mandatory
{
  font-size    :  12px;
  font-weight  :  bold;
  color        :  #830100;
}


header
{
  position            :  fixed;
  background          :  #ffffff;
  left                :  0px;
  right               :  0px;
  top                 :  0px;
  height              :  115px;
  z-index             :  99999;
  
  box-shadow          :  0 -6px 0 rgba(0, 0, 0, 0.05) inset, 0 2px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow     :  0 -6px 0 rgba(0, 0, 0, 0.05) inset, 0 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow  :  0 -6px 0 rgba(0, 0, 0, 0.05) inset, 0 2px 2px rgba(0, 0, 0, 0.3);
}

header div#TopBar
{
  background  :  #f6f6f6;
  height      :  40px;
}

header div#TopBar div
{
  max-width    :  1200px;
  margin       :  0px auto 0px auto;
  line-height  :  40px;
}

header div#TopBar div, header div#TopBar div a, header div#TopBar div a:hover
{
  font-family      :  arial, verdana, sans-serif;
  font-size        :  12px;
  color            :  #777777;  
  
  text-decoration  :  none;
}

header div#TopBar div a:hover
{
  color  :  #000000;
}

header div#TopBar ul
{
  margin      :  0px;
  padding     :  0px;
  list-style  :  none;
}

header div#TopBar ul li
{
  padding      :  0px;
  margin       :  7px 0px 0px 6px;
  float        :  right;
}

header div#TopBar ul li a, header div#TopBar ul li a:hover
{
  font-size              :  14px;
  color                  :  #ffffff;
    
  text-decoration        :  none;
  text-align             :  center;
 
  display                :  block;
  width                  :  26px;
  height                 :  20px;
  padding-top            :  6px;
  background             :  #acacac;
  
  -moz-border-radius     :  50%;
  border-radius          :  50%;
  -webkit-border-radius  :  50%;
}

header div#TopBar ul li a.facebook:hover
{
  background  :  #3b5998;
}

header div#TopBar ul li a.twitter:hover
{
  background  :  #00aced;
}

header div#TopBar ul li a.youtube:hover
{
  background  :  #bb0000;
}

header div#TopBar ul li a.feed:hover
{
  background  :  #fe9900;
}

header div#NavBar
{
  max-width    :  1200px;
  margin       :  0px auto 0px auto;
  height       :  79px;
  position     :  relative;
}

header div#NavBar img
{
  float   :  left;
  margin  :  12px 0px 13px 0px;
}

header div#NavBar nav
{
  display   :  block;
  position  :  absolute;
  bottom    :  0px;
  right     :  0px;
}

header div#NavBar nav a, header div#NavBar nav a:hover, header div#NavBar nav a.selected, header div#NavBar nav a.selected:hover
{
  font-family      :  Oswald, verdana, arial, sans-serif;
  font-size        :  18px;
  color            :  #333333;
  
  text-decoration  :  none;
  text-transform   :  uppercase;
  
  text-align       :  center;
  display          :  inline-block;
  height           :  66px;
  line-height      :  68px;
  padding          :  0px 15px 0px 15px;
  border-bottom    :  solid 6px #f2f2f2;
  overflow         :  hidden;
}

header div#NavBar nav a:hover, header div#NavBar nav a.selected, header div#NavBar nav a.selected:hover
{
  color          :  #2f74a3;
  border-bottom  :  solid 6px #89cf34;  
}


main
{
  padding  :  115px 0px 0px 0px;
}


#Banners
{
  border-bottom  :  solid 6px #1d70a3;
}


#Map
{
  z-index   :  1;
  position  :  relative;
}

#Map #GoogleMap, #Map #Overlay
{
  width   :  100%;
  height  :  450px;
}

#Map #Overlay
{
  display     :  none;
  position    :  absolute;
  left        :  0px;
  top         :  0px;
  right       :  0px;
  bottom      :  0px;
  background  :  rgba(0, 0, 0, 0.10);
  z-index     :  111;
}

#Map #Status, #Map #Details
{
  position               :  absolute;
  top                    :  12px;
  right                  :  calc((100% - 1200px) / 2);
  bottom                 :  12px;
  padding                :  15px;
  background             :  rgba(69, 129, 164, 0.80);
  z-index                :  11111;
  
  -moz-border-radius     :  8px;
  border-radius          :  8px;
  -webkit-border-radius  :  8px;
}

#Map #Details
{
  left     :  calc((100% - 1200px) / 2);
  right    :  auto;
  z-index  :  9999999;
}

#Map #Status #Inner, #Map #Details #Inner
{
  background             :  rgba(35, 107, 150, 0.80);
  width                  :  400px;
  height                 :  395px;
  overflow               :  hidden;
  
  -moz-border-radius     :  8px;
  border-radius          :  8px;
  -webkit-border-radius  :  8px;
}

#Map #Details #Inner
{
  width  :  720px;
}


#Map #Status h1, #Map #Details h1
{
  font-size       :  18px;
  color           :  #ffffff;
  text-transform  :  uppercase;
  
  border-bottom   :  solid 3px #548bab;
  padding         :  3px 0px 0px 15px;
  line-height     :  45px;
  height          :  45px;
}

#Map #Status h1 b
{
  font-size      :  27px;
  padding-right  :  5px;
}

#Map #Status h1 img, #Map #Details h1 img
{
  float   :  right;
  margin  :  13px 12px 0px 0px;
  cursor  :  pointer;
}

#Map #Status h2
{
  font-size       :  18px;
  color           :  #eeeeee;
  
  text-transform  :  uppercase;

  padding         :  0px;
  margin          :  5px 0px 6px 12px;
}

#Map #Status h4
{
  font-size       :  14px;
  color           :  #aabecf;
  
  text-transform  :  uppercase;

  padding         :  0px;
  margin          :  0px 0px 15px 12px;
}


#Map #Status #Accordion
{
  height    :  215px;
  overflow  :  hidden;
}

#Map #Details #Accordion
{
  height    :  395px;
  overflow  :  hidden;
}

#Map #Status h3, #Map #Details h3
{
  font-family            :  arial, verdana, sans-serif;
  font-weight            :  bold;
  font-size              :  13px;
  color                  :  #ffffff;
  
  text-transform         :  uppercase;

  padding                :  0px 0px 0px 12px;
  margin                 :  0px 0px 1px 0px;
  background             :  #89cf34;;
  border                 :  none;
  line-height            :  30px;
  height                 :  30px;
  position               :  relative;
  
  -moz-border-radius     :  0px;
  border-radius          :  0px;
  -webkit-border-radius  :  0px;
}

#Map #Status h3.started, #Map #Details h3.started
{
  background  :  #ff9600;
}

#Map #Status h3.notStarted, #Map #Details h3.notStarted
{
  background  :  #ff0000;
}

#Map #Details h3.li
{
  color       :  #666666;
  background  :  #cacaca;
}

#Map #Details h3.li:hover
{
  background  :  #dadada;
}

#Map #Status .ui-accordion .ui-accordion-header .ui-icon, #Map #Details .ui-accordion .ui-accordion-header .ui-icon
{
  width   :  19px;
  height  :  19px;
  left    :  auto;
  right   :  5px;
  top     :  5px;
  margin  :  0px;
}

#Map #Status .ui-corner-bottom, #Map #Details .ui-corner-bottom
{
  border                 :  none;
  
  -moz-border-radius     :  0px;
  border-radius          :  0px;
  -webkit-border-radius  :  0px;
}

#Map #Status .stageOpen, #Map #Details .stageOpen
{
  background-image  :  url('../images/icons/down.png');
}

#Map #Status .stageClosed, #Map #Details .stageClosed
{
  background-image  :  url('../images/icons/right.png');
}

#Map #Status div.stages, #Map #Details div.stages
{
  padding     :  0px 0px 1px 0px;
  margin      :  0px;
  background  :  transparent;
}

#Map #Status ul, #Map #Details ul
{
  list-style  :  none;
  margin      :  0px;
  padding     :  0px;
}

#Map #Status ul li, #Map #Details ul li
{
  font-family  :  arial, verdana, sans-serif;
  font-weight  :  bold;
  font-size    :  12px;
  color        :  #666666;
  
  padding      :  5px 55px 5px 10px;
  margin       :  0px 0px 1px 0px;
  background   :  #cacaca;
  line-height  :  16px;
  position     :  relative;
  overflow     :  hidden;
}

#Map #Details ul li
{
  padding-left  :  50px;
}

#Map #Status ul li:hover, #Map #Details ul li:hover
{
  background  :  #dadada;
}

#Map #Status ul li span, #Map #Details ul li span, #Map #Details h3 span.tick, #Map #Details h3 span.cross
{
  display      :  block;
  position     :  absolute;
  top          :  0px;
  right        :  0px;
  bottom       :  0px;
  background   :  #bababa;
  width        :  45px;
}

#Map #Status ul li span.tick, #Map #Details ul li span.tick, #Map #Details h3 span.tick
{
  background  :  #89cf34 url('../images/icons/tick.png') center center no-repeat;
}

#Map #Status ul li span.working, #Map #Details ul li span.working, #Map #Details h3 span.working
{
  background  :  #ff9600 url('../images/icons/tick.png') center center no-repeat;
}

#Map #Status ul li span.cross, #Map #Details ul li span.cross, #Map #Details h3 span.cross
{
  background  :  #ff0000 url('../images/icons/cross.png') center center no-repeat;
}

#Map #Status ul li.subStages
{
  cursor  :  pointer;
}

#Map #Status ul#Actions
{
  margin  :  5px 0px 0px 12px;
}

#Map #Status ul#Actions li
{
  display      :  inline-block;
  background   :  transparent;
  padding      :  0px;
  margin       :  0px 5px 0px 0px;
  height       :  48px;
  line-height  :  48px;
}

#Map #Buttons
{
  position  :  absolute;
  left      :  20px;
  bottom    :  20px;
  z-index   :  1111111;
}

#Map #Buttons  #Counts
{
  height         :  150px;
  margin-bottom  :  20px;
}

#Map #Buttons #ActiveCount, #Map #Buttons #AdoptedCount, #Map #Buttons #QualifiedCount, #Map #Buttons #CompletedCount
{
  font-family            :  Oswald, verdana, arial, sans-serif;
  font-size              :  48px;
  color                  :  #ffffff;
  
  text-align             :  center;
  
  width                  :  150px;
  height                 :  150px;
  line-height            :  150px;
  background             :  #49a52d;
  display                :  inline-block;
  
  -moz-border-radius     :  50%;  
  border-radius          :  50%;  
  -webkit-border-radius  :  50%;  
}

#Map #Buttons #AdoptedCount
{
  background  :  #88a52d;
}

#Map #Buttons #QualifiedCount
{
  background  :  #ffa52d;
}

#Map #Buttons #CompletedCount
{
  background  :  #1d70a3;
}

#Map #Buttons #ActiveCount span, #Map #Buttons #AdoptedCount span, #Map #Buttons #QualifiedCount span, #Map #Buttons #CompletedCount span
{
  font-family     :  Oswald, verdana, arial, sans-serif;
  font-size       :  15px;
  color           :  #ffffff;
  
  text-transform  :  uppercase;
  text-align      :  center;

  display         :  block;
  width           :  150px;
  position        :  absolute;
  top             :  25px;
  left            :  0px;
}

#Map #Buttons input.button, #Map #Buttons input.button.selected
{
  width       :  150px;
  text-align  :  center;
  background  :  #999999;
  color       :  #dddddd;
  padding     :  6px;
}

#Map #Buttons input.button:hover, #Map #Buttons input.button:active, #Map #Buttons input.button.selected
{
  background  :  #666666;
  color       :  #ffffff;
}



#SearchBar
{
  background  :  #1d70a3;
  height      :  105px;
  position    :  relative;
}

#SearchBar #frmSearch #SearchFields
{ 
  left   :  calc((100% - 1200px) / 2);
  top    :  30px;
  width  :  870px;
}

#SearchBar #frmSearch #SearchFields #FieldsBg
{
  background             :  #fcfcfc;
  height                 :  43px;
  padding                :  0px 0px 0px 50px;
  overflow               :  hidden;
  
  -moz-border-radius     :  6px;
  border-radius          :  6px;
  -webkit-border-radius  :  6px;  
  border                 :  1px solid rgba(0, 0, 0, 0.2);
}

#SearchBar #frmSearch #SearchFields #FieldsBg span.fa-pencil
{
  position   :  absolute;
  left       :  18px;
  top        :  11px;
  font-size  :  21px;
  color      :  #999999;
}

#SearchBar #frmSearch #SearchFields #FieldsBg span.select2
{
  display  :  inline-block;
}

#SearchBar #frmSearch #SearchFields #FieldsBg #Keywords
{
  width        :  165px;
  padding      :  0px 10px 0px 10px;
  font-family  :  arial, verdana, sans-serif;
  font-size    :  16px;
  color        :  #444444;
  border       :  none;
  height       :  43px;
  line-height  :  48px;
  overflow     :  hidden;
}

#SearchBar #frmSearch #SearchFields #FieldsBg select
{
  padding    :  0px;
  font-size  :  16px;
  color      :  #444444;
  border     :  none;
  display    :  none;
}

#SearchBar #frmSearch #SearchFields #FieldsBg select#Package
{
  width  :  240px;
}

#SearchBar #frmSearch #SearchFields #FieldsBg select#Province
{
  width  :  200px;
}

#SearchBar #frmSearch #SearchFields #FieldsBg select#District
{
  width  :  180px;
}

#SearchBar #frmSearch #SearchFields #FieldsBg .select2-container--default .select2-selection--single
{
  border                 :  none !important;
  border-left            :  solid 1px #cccccc !important;  
  padding                :  0px 5px 0px 10px !important;
  line-height            :  41px;  
  height                 :  41px;  
  
  -moz-border-radius     :  0px;
  border-radius          :  0px;
  -webkit-border-radius  :  0px;    
}

#SearchBar #frmSearch #SearchFields #FieldsBg .select2-container--default .select2-selection--single .select2-selection__placeholder,
#SearchBar #frmSearch #SearchFields #FieldsBg .select2-container--default .select2-selection--single .select2-selection__rendered
{
  font-family  :  arial, verdana, sans-serif;
  font-size    :  16px;
  
  line-height  :  41px;  
  height       :  41px;
  padding      :  0px !important;
}

#SearchBar #frmSearch #SearchFields #FieldsBg .select2-container--default .select2-selection--single .select2-selection__arrow b
{
  border-width  :  9px 6px 0px 6px;
  left          :  30%;
  top           :  70%;
}

#SearchBar #frmSearch #SearchFields #FieldsBg .select2-container--default .select2-selection--single .select2-selection__clear
{
  right     :  20px;
  top       :  12px;
  z-index   :  111111;
}

.select2-container--default .select2-results__option
{
  font-size  :  12px;
}

#SearchBar #frmSearch #SearchButton
{ 
  position     :  absolute;
  left         :  calc(((100% - 1200px) / 2) + 900px);
  top          :  0px;
  right        :  0px;
  padding      :  30px 0px 25px 30px;
  background   :  #1a6592;
  height       :  50px;
  overflow     :  hidden;
}

#SearchBar #frmSearch #SearchButton input.button, #SearchBar #frmSearch #SearchButton input.button:hover
{
  font-size              :  21px;
  background             :  #89cf34;
  line-height            :  45px;
  height                 :  45px;
  padding                :  0px;
  width                  :  100%;
  max-width              :  270px;
  
  -moz-border-radius     :  6px;
  border-radius          :  6px;
  -webkit-border-radius  :  6px;  
}

#SearchBar #frmSearch #SearchButton input.button:hover
{
  background  :  #6ea828;
}

#SearchBar #frmSearch #SearchButton .fa-search
{
  font-size  :  21px;
  color      :  #ffffff;
  position   :  absolute;
  left       :  100px;
  top        :  39%;
}

#SearchBar #BtnCopyLink
{
	position    :  absolute;
	left        :  calc(((100% - 1200px) / 2) + 0px);
	top         :  80px;
	z-index     :  9999;
	
	background  :  #1a6592;
	border      :  solid 1px #ffffff;
	color       :  #ffffff;
	font-size   :  10px;
	padding     :  1px 2px 1px 2px;
}


#Contents td.tdMain
{
  padding  :  30px 0px 50px 0px;
}


#Login, #News, #Kpis
{
  background             :  #ffffff;
  border                 :  solid 1px #dddddd;
  padding                :  20px;
  
  -moz-border-radius     :  6px;
  border-radius          :  6px;
  -webkit-border-radius  :  6px;  
}

#Login h4
{
  margin-bottom  :  15px;
}

#Login input.textbox
{
  font-family            :  verdana, arial, sans-serif;
  font-size              :  14px;
  color                  :  #888888;
   
  width                  :  calc(100% - 20px);
  padding                :  7px 10px 7px 10px;
  border                 :  solid 1px #cccccc;
  background             :  #ffffff;

  -moz-border-radius     :  6px;
  border-radius          :  6px;
  -webkit-border-radius  :  6px;
}

#Login input.button
{
  width  :  100%;
}


#News a.pic
{
  display                :  block;
  width                  :  100%;
  padding                :  0px !important;
  border                 :  solid 1px #eeeeee;
  
  -moz-border-radius     :  10%;
  border-radius          :  10%;
  -webkit-border-radius  :  10%;   
}

#News a.pic img, #News a.pic img:hover
{
  width                  :  100%;
  
  -moz-border-radius     :  10%;
  border-radius          :  10%;
  -webkit-border-radius  :  10%;   
  
  filter                 :  url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter                 :  grays;  
  filter                 :  grayscale(100%);
  -webkit-filter         :  grayscale(100%);  
  
  -webkit-transition     :  all linear .2s;
  -moz-transition        :  all linear .2s;
  -ms-transition         :  all linear .2s;
  -o-transition          :  all linear .2s;
  transition             :  all linear .2s;
}

#News a.pic img:hover
{
  filter          :  url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 1 1 0 0 1 1 1 0 0 1 1 1 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter          :  grayscale(0%);  
  -webkit-filter  :  grayscale(0%);
}

#News p
{
  color    :  #777777;
  padding  :  10px 0px 0px 0px;
}

#News a, #News a:hover
{
  font-family      :  Oswald, georgia, verdana, arial;  
  font-weight      :  normal;
  font-size        :  15px;
  
  text-decoration  :  none;
  
  display          :  block;
  padding-bottom   :  5px;
}


footer
{
  background  :  #e0e2e4;
  border-top  :  solid 2px #c9cbcd;
}

footer section
{
  border-top  :  solid 1px #cfd1d3;
  padding     :  30px 0px 40px 0px;
}

footer section p
{
  font-size  :  11px;
  color      :  #777777;
}

footer section h4
{
  margin   :  0px 0px 15px 0px;
}

footer #Copyright
{
  background   :  #b2b6bc;
  border-top   :  solid 1px #a4a9b0;
}

footer #Copyright div
{
  max-width    :  1200px;
  margin       :  0px auto 0px auto;
  padding      :  14px 0px 14px 0px;
  
  font-family  :  verdana, arial, sans-serif;
  font-size    :  11px;
  color        :  #333333;
}

footer #Copyright a
{
  font-family         :  verdana, arial, sans-serif;
  font-size           :  11px;
  color               :  #333333;
  
  text-decoration     :  none; 
}

footer #Copyright a:hover
{
  font-family         :  verdana, arial, sans-serif;
  font-size           :  11px;
  color               :  #1d70a3;
  
  text-decoration     :  underline;
}




#Ajax
{
  position               :  fixed;
  top                    :  50px;
  right                  :  -1px;
  z-index                :  99999999;  
  background             :  #ffffff;
  width                  :  200px;
  padding                :  10px;
  border                 :  solid 1px #aaaaaa;
  display                :  none;
  
  -moz-border-radius     :  5px 0px 0px 5px;
  border-radius          :  5px 0px 0px 5px;
  -webkit-border-radius  :  5px 0px 0px 5px;
}

#Ajax img
{
  display  :  block;
  width    :  64px;
  float    :  left;
}

#Ajax span
{
  display      :  inline-block;
  line-height  :  18px;
  padding      :  12px 0px 0px 10px;
  height       :  52px;
  max-width    :  125px;
  
  font-family  :  arial, verdana, sans-serif;
  font-size    :  13px;
  color        :  #000000;  
}


#BackToTop
{
  position               :  fixed;
  bottom                 :  20px;
  right                  :  20px;

  width                  :  40px;
  height                 :  40px;
  background             :  #1d70a3 url('../images/icons/up-arrow.png') no-repeat center center;
  cursor                 :  pointer;

  -moz-border-radius     :  5px;
  border-radius          :  5px;
  -webkit-border-radius  :  5px;
  
  opacity                :  0.60;
  -moz-opacity           :  0.60;
  -khtml-opacity         :  0.60;
  filter                 :  alpha(opacity=60);
}

#BackToTop:hover 
{
  opacity             :  0.99;
  -moz-opacity        :  0.99;
  -khtml-opacity      :  0.99;
  filter              :  alpha(opacity=99);
  
  -webkit-transition  :  all linear .5s;
  -moz-transition     :  all linear .5s;
  -ms-transition      :  all linear .5s;
  -o-transition       :  all linear .5s;
  transition          :  all linear .5s;  
}




.alert, .error, .success, .info, .info.noHide
{
  clear                  :  both;
  padding                :  10px 10px 10px 35px;
  margin-bottom          :  15px;
  min-height             :  16px;
  line-height            :  16px;
  cursor                 :  pointer;
  
  -moz-border-radius     :  4px;
  border-radius          :  4px;
  -webkit-border-radius  :  4px; 
  
  font-family            :  verdana, arial, sans-serif;
  font-size              :  11px;
  color                  :  #000000;
}

.alert
{
  background  :  #feffc8 url('../images/icons/alert.png') 10px 10px no-repeat;
  border      :  solid 1px #f1aa2d;
}

.error
{
  background  :  #fdcea4 url('../images/icons/error.png') 10px 10px no-repeat;
  border      :  solid 1px #c44509;
}

.success
{
  background  :  #d4f684 url('../images/icons/success.png') 10px 10px no-repeat;
  border      :  solid 1px #739f1d;
}

.info
{
  background  :  #c3e4fd url('../images/icons/info.png') 10px 10px no-repeat;
  border      :  solid 1px #688fdc;
}

.info.noHide
{
  background  :  #eeeeee url('../images/icons/info.gif') 10px 10px no-repeat;
  border      :  solid 1px #cccccc;
}


.topSchool a.pic, .member .pic
{
  display                :  block;
  width                  :  160px;
  margin                 :  0px auto 0px auto;
  border                 :  solid 6px #1d70a3;
  
  -moz-border-radius     :  50%;
  border-radius          :  50%;
  -webkit-border-radius  :  50%;   
}

.topSchool a.pic:hover, .member .pic:hover
{
  border-color :  #4bad48;
}

.topSchool a.pic img, .topSchool a.pic img:hover, .member .pic img, .member .pic img:hover
{
  width                  :  100%;
  
  -moz-border-radius     :  50%;
  border-radius          :  50%;
  -webkit-border-radius  :  50%;   
  
  filter                 :  url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter                 :  grays;  
  filter                 :  grayscale(100%);
  -webkit-filter         :  grayscale(100%);  
  
  -webkit-transition     :  all linear .2s;
  -moz-transition        :  all linear .2s;
  -ms-transition         :  all linear .2s;
  -o-transition          :  all linear .2s;
  transition             :  all linear .2s;
}

.topSchool a.pic img:hover, .member .pic img:hover
{
  filter          :  url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 1 1 0 0 1 1 1 0 0 1 1 1 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter          :  grayscale(0%);  
  -webkit-filter  :  grayscale(0%);
}

.topSchool h2
{
  color       :  #000000;
  text-align  :  center;
  margin      :  20px 0px 8px 0px;
}

.topSchool p
{
  color       :  #777777;
  text-align  :  center;
}


#SchoolTimeline
{
  clear          :  both;
  display        :  none;
  background     :  #ffffff;
  border-bottom  :  solid 20px #eeeeee;
  padding        :  40px 0px 30px 0px;
}

#SchoolTimeline .timelineArea
{
  margin  :  0px auto 0px auto;
  width   :  1200px;
}

#SchoolTimeline h1
{
  margin-bottom  :  5px;
}

#SchoolTimeline #Inner
{
  border   :  solid 5px #cccccc;
}

#SchoolTimeline #Timeline .vco-storyjs .vco-feature .vco-slider
{
  padding  : 0px !important;
}


#Statistics
{
  margin-bottom  :  30px;
  position       :  relative;
}

#Statistics td
{
  font-family     :  Oswald, georgia, verdana, arial;  
  font-weight     :  normal;
  font-size       :  15px;

  line-height     :  30px;
}

#Statistics td b
{
  font-weight     :  normal;
  font-size       :  16px;
  text-transform  :  uppercase;
}

#Statistics td span
{
  font-family     :  Oswald, georgia, verdana, arial;  
  font-weight     :  normal;
  font-size       :  15px;
  color           :  #2f74a3;
}

#Statistics #Progress, #Statistics #Planned
{
  font-family            :  Oswald, verdana, arial, sans-serif;
  font-size              :  32px;
  color                  :  #ffffff;
  
  text-align             :  center;
  
  width                  :  100px;
  height                 :  100px;
  line-height            :  100px;
  background             :  #bbbbbb;
  position               :  absolute;
  left                   :  380px;
  top                    :  30px;
  cursor                 :  pointer;
  
  -moz-border-radius     :  50%;  
  border-radius          :  50%;  
  -webkit-border-radius  :  50%;  
}

#Statistics #Planned
{
  background  :  #1d70a3;
  top         :  135px;
}


#Dashboard
{
  overflow  :  hidden;
}

#Dashboard h2
{
  font-family      :  Oswald, georgia, verdana, arial;  
  font-weight      :  normal;
  font-size        :  15px;
  color            :  #ffffff;

  text-transform   :  uppercase;  
  text-decoration  :  none;
  
  margin           :  0px;
  padding          :  10px 0px 10px 0px;
  background       :  #777777;
}

#Dashboard td, #Dashboard span, #Dashboard div
{
  font-size  :  12px;
}

#Dashboard td a, #Dashboard span a, #Dashboard div a
{
  font-size    :  12px;
  font-weight  :  bold;
}

#Dashboard #Images
{
  height        :  370px;
  border-left   :  solid 2px #dddddd;
  border-right  :  solid 2px #dddddd;
}

#Dashboard #Images #Tabs, #Dashboard #Images #Tabs div.slide
{
  border      :  none !important;
  padding     :  0px !important;
  background  :  #ffffff;
  min-height  :  350px !important;
  z-index     :  9999;
}

#Dashboard #Images .slide ul
{
  list-style  :  none;
  margin      :  0px;
  padding     :  0px 0px 0px 4px;
}

#Dashboard #Images .slide ul li
{
  float       :  left;
  margin      :  15px 7px 0px 6px;
  padding     :  0px;
  text-align  :  center;
  overflow    :  hidden;
}

#Dashboard #Images .slide ul li a
{
  font-size    :  11px;
  font-weight  :  normal;
  color        :  #666666;
  display      :  block;
}

#Dashboard #Images .slide ul li a img
{
  border  :  solid 1px #666666;
}

#Dashboard #Images .slide ul li a.statusP
{
  color  :  #4bad48;
}

#Dashboard #Images .slide ul li a.statusF
{
  color  :  #ff0000;
}

#Dashboard #Images .slide ul li a.statusR
{
  color  :  #666666;
}

#Dashboard #Images .slide ul li a.inspection.measurements
{
	background  :  url('../images/icons/measurements.png') 100% 95% no-repeat;
}

#Dashboard #Images .slide ul li a.inspection.milestone
{
	background  :  url('../images/icons/milestone.png') 100% 95% no-repeat;
}

#Dashboard #Images .slide ul li a.inspection.measurements.milestone
{
	background  :  url('../images/icons/milestone.png') 87% 95% no-repeat, url('../images/icons/measurements.png') 100% 95% no-repeat;
}

#Dashboard #Images #Next, #Dashboard #Images #Back
{
  font-family            :  Oswald, georgia, verdana, arial;  
  font-weight            :  normal;
  font-size              :  72px;
  color                  :  #aaaaaa;
  
  text-align             :  right;

  background             :  #eeeeee;
  border                 :  solid 2px #dddddd;
  width                  :  120px;
  height                 :  170px;
  line-height            :  150px;
  padding-right          :  15px;
  cursor                 :  pointer;
  
  position               :  absolute;
  right                  :  -60px;
  top                    :  100px;
  z-index                :  999;
  
  -moz-border-radius     :  50%;
  border-radius          :  50%;
  -webkit-border-radius  :  50%;
  
  -moz-outline-style     :  none;
    
  -webkit-touch-callout  :  none;
  -webkit-user-select    :  none;
  -khtml-user-select     :  none;
  -moz-user-select       :  none;
  -ms-user-select        :  none;
  user-select            :  none;
}

#Dashboard #Images #Back
{
  left           :  -60px;
  right          :  auto;
  padding-left   :  15px;
  padding-right  :  0px;  
  text-align     :  left;
}

#Dashboard #Images #Next:hover, #Dashboard #Images #Back:hover
{
  color         :  #666666;
  background    :  #f6f6f6;
  border-color  :  #cccccc;
}

#Dashboard #Images #Next.disabled, #Dashboard #Images #Back.disabled, #Dashboard #Images #Next.disabled:hover, #Dashboard #Images #Back.disabled:hover
{
  color         :  #eeeeee;
  background    :  #e6e6e6;
  border-color  :  #e0e0e0;
}


body.popupBg
{
  background  :  #ffffff;
  min-width   :  auto;
}


#PopupDiv
{
  margin   :  0px;
  padding  :  25px;
}



.grid
{
  border  :  solid 1px #888888;
}

.grid .header
{
  background  :  #888888;
}

.grid .header td
{
  font-family  :  verdana, arial, sans-serif;
  font-weight  :  bold;
  font-size    :  12px;
  color        :  #ffffff;
  
  padding      :  7px 6px 7px 6px;  
}

.grid .header table td
{
  padding  :  0px;
}

.grid .header td a
{
  font-family      :  verdana, arial, sans-serif;
  font-weight      :  bold;
  font-size        :  12px;
  color            :  #ffffff;
   
  text-decoration  :  underline;
}
  
.grid .header td a:hover
{
  font-family      :  verdana, arial, sans-serif;
  font-weight      :  bold;
  font-size        :  12px;
  color            :  #eeeeee;
   
  text-decoration  :  none;
}

.grid td
{
  font-family  :  verdana, arial, sans-serif;
  font-size    :  11px;
  color        :  #000000;
}

.grid .even
{
  background  :  #f6f6f6;
}

.grid .even:hover
{
  background  :  #fff7d9;
}

.grid .odd
{
  background  :  #eeeeee;
}

.grid .odd:hover
{
  background  :  #fff7d9;
}


.grid .footer
{
  background  :  #aaaaaa;
}

.grid .footer td
{
  font-family  :  verdana, arial, sans-serif;
  font-weight  :  bold;
  font-size    :  12px;
  color        :  #ffffff;
  
  padding      :  7px 6px 7px 6px;  
}

.grid tr.odd a, .grid tr.even a
{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  12px;
  color            :  #000000;
   
  text-decoration  :  none;
}
  
.grid tr.odd a:hover, .grid tr.even a:hover
{
  font-family      :  verdana, arial, sans-serif;
  font-size        :  12px;
  color            :  #333333;
   
  text-decoration  :  underline;
}


#GeoTimeline, #GeoTimelineOverall
{
  padding  :  0px 0px 30px 0px;
}

#GeoTimeline h2, #GeoTimelineOverall h2
{
  font-family      :  Oswald, georgia, verdana, arial;  
  font-weight      :  normal;
  font-size        :  15px;
  color            :  #333333;

  text-transform   :  uppercase;  
  
  margin           :  0px 0px 5px 0px;
  padding          :  0px;
}

#GeoTimeline td, #GeoTimelineOverall td
{
  font-family  :  verdana, arial, sans-serif;
  font-size    :  11px;
  color        :  #333333; 
}

#GeoTimeline span.title, #GeoTimelineOverall span.title
{
  font-family  :  verdana, arial, sans-serif;
  font-size    :  11px;
  color        :  #555555; 
  
  line-height  :  13px;
  display      :  inline-block;
}

#GeoTimeline span.date, #GeoTimelineOverall span.date
{
  font-family  :  verdana, arial, sans-serif;
  font-size    :  11px;
  color        :  #999999; 
  
  line-height  :  13px;
  display      :  inline-block;
  width        :  auto;
}

#GeoTimeline .circle, #GeoTimelineOverall .circle
{
  background             :  #999999;
  width                  :  40px;
  height                 :  40px;
  padding                :  8px;
  position               :  relative;
  
  -moz-border-radius     :  50%;
  border-radius          :  50%;
  -webkit-border-radius  :  50%; 
}

#GeoTimeline .radius, #GeoTimelineOverall .radius
{
  background             :  #ffffff;
  width                  :  40px;
  height                 :  40px;
  
  -moz-border-radius     :  50%;
  border-radius          :  50%;
  -webkit-border-radius  :  50%; 
}

#GeoTimeline .text, #GeoTimelineOverall .text
{
  font-family  :  Oswald, georgia, verdana, arial;  
  font-weight  :  normal;
  font-size    :  14px;
  color        :  #333333;
  
  text-align   :  center;
  
  position     :  absolute;
  left         :  0px;
  top          :  18px;
  width        :  56px;
}

#GeoTimeline .line, #GeoTimelineOverall .line
{
  background  :  #999999;
  height      :  10px;
}

#GeoTimeline .circle.green, #GeoTimeline .line.green, #GeoTimelineOverall .circle.green, #GeoTimelineOverall .line.green
{
  background  :  #36b24f;
}

#GeoTimeline .circle.red, #GeoTimeline .line.red, #GeoTimelineOverall .circle.red, #GeoTimelineOverall .line.red
{
  background  :  #eb212e;
}

#GeoTimeline .circle.blue, #GeoTimeline .line.blue, #GeoTimelineOverall .circle.blue, #GeoTimelineOverall .line.blue
{
  background  :  #1d70a3;
}

#GeoTimeline .outerLine, #GeoTimelineOverall .outerLine
{
  background  :  #999999;
  height      :  10px;
}

#GeoTimeline .innerLine, #GeoTimelineOverall .innerLine
{
  background  :  #999999;
  height      :  10px;
}

#GeoTimeline .innerLine.green, #GeoTimelineOverall .innerLine.green
{
  background  :  #36b24f;	
}

#GeoTimeline .innerLine.red, #GeoTimelineOverall .innerLine.red
{
  background  :  #eb212e;	
}

#GeoTimeline .innerLine.blue, #GeoTimelineOverall .innerLine.blue
{
  background  :  #1d70a3;	
}


.tooltipster-content .stageStatus td, .tooltipster-content .stageStatus td span, .tooltipster-content .stageStatus td b
{
  font-size    :  11px !important;
  line-height  :  14px;
}


#InspectorStats #Tabs
{
  border   :  none;
  padding  :  0px;
}

#InspectorStats #Tabs ul
{
  background  :  none;
  border      :  none;
  padding     :  0px;
}

#InspectorStats #Tabs ul li
{
  min-width  :  200px;
}

#InspectorStats #Tabs ul li a
{
  font-family      :  Oswald, georgia, verdana, arial;  
  font-weight      :  normal;
  font-size        :  15px;
  color            :  #333333;

  text-transform   :  uppercase;  
}

#InspectorStats #Tabs div.stats
{
  border   :  dotted 1px #cccccc;
  padding  :  25px;
}


/*  Inspector Stats  */

ul.navigator
{
  margin      :  5px 0px 0px 0px;
  padding     :  0px;
  list-style  :  none;
}

ul.navigator li
{
  float        :  left;
  width        :  340px;
  padding      :  10px;
  margin       :  10px 60px 10px 0px;
  border       :  solid 1px #eeeeee;
  background   :  #f9f9f9;
  line-height  :  16px;
}

ul.navigator li:nth-child(2n)
{
  margin-right  :  0px;
}

ul.navigator li:hover
{
  border      :  solid 1px #cccccc;
  background  :  #e6e6e6;
}

ul.navigator li .picture
{
  border        :  solid 1px #dddddd;
  padding       :  1px;
  background    :  #ffffff;
  margin-right  :  12px;
  float         :  left;
}

ul.navigator li:hover .picture
{
  border  :  solid 1px #cccccc;
}

ul.navigator li .picture img
{
  width   :  96px;
  height  :  96px;
}

ul.navigator li b
{
  font-family    :  Oswald, georgia, verdana, arial;  
  font-weight    :  normal;
  font-size      :  14px;
  color          :  #444444; 
  
  display        :  block;
  margin-bottom  :  5px;
}

ul.navigator li i
{
  color  :  #666666;
}

ul.navigator li span.blue
{
  color  :  #1d70a3;
}



#Dashboard #frmSearch, #Dashboard #frmSearch2
{
  padding     :  10px 0px 10px 0px;
  background  :  #777777;
  max-height  :  35px;
  overflow    :  hidden;
}

#Dashboard #frmSearch td select, #Dashboard #frmSearch2 td select
{
  padding    :  0px;
  font-size  :  16px;
  color      :  #444444;
  border     :  none;
  display    :  none;
  width      :  95%;
}

#Dashboard #frmSearch .select2-container--default .select2-selection--single .select2-selection__placeholder, #Dashboard #frmSearch2 .select2-container--default .select2-selection--single .select2-selection__placeholder
{
  padding-top  :  4px;
  display      :  inline-block;
}

#Dashboard #frmSearch .select2-container--default .select2-selection--single .select2-selection__clear, #Dashboard #frmSearch2 .select2-container--default .select2-selection--single .select2-selection__clear
{
  padding-top  :  4px;
}

#Dashboard #frmSearch #DateRange
{
  background             :  #ffffff;
  cursor                 :  pointer;
  padding                :  4px 10px 3px 10px;
  border                 :  1px solid #cccccc;
  width                  :  100%;
  
  -moz-border-radius     :  3px;
  border-radius          :  3px;
  -webkit-border-radius  :  3px;  
}

#Dashboard #frmSearch #SearchButton, #Dashboard #frmSearch2 #SearchButton
{ 
  position     :  absolute;
  left         :  0px;
  top          :  6px;
  width        :  80px;
  background   :  #1a6592;
  height       :  20px;
}

#Dashboard #frmSearch #SearchButton input.button, #Dashboard #frmSearch #SearchButton input.button:hover, #Dashboard #frmSearch2 #SearchButton input.button, #Dashboard #frmSearch2 #SearchButton input.button:hover
{
  font-size              :  21px;
  background             :  #89cf34;
  line-height            :  26px;
  height                 :  26px;
  padding                :  0px;
  width                  :  100%;
  max-width              :  100px;
  
  -moz-border-radius     :  4px;
  border-radius          :  4px;
  -webkit-border-radius  :  4px;  
}

#Dashboard #frmSearch #SearchButton input.button:hover, #Dashboard #frmSearch2 #SearchButton input.button:hover
{
  background  :  #6ea828;
}

#Dashboard #frmSearch #SearchButton .fa-search, #Dashboard #frmSearch2 #SearchButton .fa-search
{
  font-size  :  15px;
  color      :  #ffffff;
  position   :  absolute;
  left       :  30px;
  top        :  5px;
}


#SchoolBlocks
{
  list-style  :  none;
  padding     :  0px;
  margin      :  0px;
}

#SchoolBlocks li
{
  float   :  left;
  width   :  24%;
  margin  :  20px 0.5% 0px 0px;
}

#SchoolBlocks li:nth-child(4n+1)
{
  clear  :  left;
}

#SchoolBlocks li span.progress
{
  display                :  block;  
  background             :  #dddddd;
  line-height            :  64px;
  height                 :  64px;
  padding                :  0px;
  width                  :  64px;
  margin                 :  0px auto 0px auto;
  
  font-size              :  17px;
  text-align             :  center;
  
  -moz-border-radius     :  32px;
  border-radius          :  32px;
  -webkit-border-radius  :  32px;  
}

#SchoolBlocks li img
{
  display  :  block;
  clear    :  both;
}

#SchoolBlocks li, #SchoolBlocks li div, #SchoolBlocks li b, #SchoolBlocks li span
{
  font-size  :  11px;
}

#SchoolBlocks li h2
{
  font-size   :  14px;
  margin-top  :  10px;
}